<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" *ngIf="hasFamily">
    <ion-item>
      <ion-label position="floating">Nombres y apellidos</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item *ngIf="!id">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="!id">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Familia</ion-label>
      <ion-select placeholder="Selecciona uno..." formControlName="family">
        <ion-select-option *ngFor="let f of families">{{ f.familyName }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="id">
      <ion-label position="floating">Activar</ion-label>
      <ion-input type="text" formControlName="active"></ion-input>
    </ion-item>
  </form>

  <form [formGroup]="registerForm" *ngIf="!hasFamily">

    <ion-item>
      <ion-label position="floating">Nombres y apellidos</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item *ngIf="!id">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="!id">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Familia</ion-label>
      <ion-input readonly="readonly" type="text" formControlName="family"></ion-input>
    </ion-item>
  </form>

  <ion-button *ngIf="id" expand="full">Cambiar Contraseña</ion-button>
  <ion-button expand="full" [disabled]="!registerForm.valid" (click)="SAVE()">{{ btnText }}</ion-button>
</ion-content>
