<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>@Usuario</ion-card-subtitle>
      <ion-card-title>Nombre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../assets/icon/technic.png">
    </ion-card-content>
  </ion-card>

</ion-content>
