<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="user" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-button *ngIf="!exist" (click)="confirmUser()" expand="full" type="submit">Verificar usuario</ion-button>

  <form [formGroup]="passwordForm" *ngIf="exist">
    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

  </form>

  <ion-item *ngIf="exist">
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>

  <ion-button *ngIf="exist" (click)="changePassword()" expand="full" type="submit" [disabled]="!confirmPassword">Actualizar Contraseña</ion-button>

</ion-content>
